* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.toDoList {
  margin: 8px;
}

.toDoListInput,
.toDoListButton {
  width: 200px;
}

.toDoList button {
  width: 20px;
  font-weight: 600;
}

.toDoList p {
  margin: 4px;
}

.lineThrough {
  text-decoration: line-through;
}
